
/*Removed brand from navbar, so buttons need to be shift to the left*/
/*.navbar .container-fluid, .navbar-collapse {
    padding-left:0;
}*/


/*CHANGES AT NAVBAR-DEFAULT*/
.navbar-default{
    background-color:#00ccff;
    border-color:#00ccff;

    margin-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}


.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}


/*hover-flaechen*/
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color:#ffffff;
    background-color: #00a3cc;
}


.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #00a3cc;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-toggle {
    border-color: #00a3cc;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #00a3cc;
}

/*Navbar im Vordergrund*/
nav{
    z-index: 10;
}


/*grey navbar*/
.headerbar{
	height:40px; 
	font-size:11pt; 
	background-color: #e6e6e6;
}

a.menue:link {
    color: #666666;
    text-decoration: none;
}
a.menue:visited {
    color: #666666;
}
a.menue:hover {
    color:#00ccff;
}

a.mobile_error:link {
    color: #666666;
}
a.mobile_error:visited {
    color: #666666;
}
a.mobile_error:hover {
    color:#dddddd;
}

.badge:hover{
    background-color: #00ccff;
}


#mobile_error .badge:hover{
    background-color: #a6a6a6;
}



/*ANFANG: dynamische Berechnung des Contentfensters, der bootstrap-row und der bootstrap-cols für Höhe der Divs*/
html, body {min-height:100%; padding:0; margin:0;}

.wrapperLarge {padding-top:90px; padding-bottom:50px; position:absolute; top:0; bottom:0; left:0; right:0;}
.wrapperSmall {padding-top:50px; padding-bottom:50px; position:absolute; top:0; bottom:0; left:0; right:0;}

#content {height:100%; /*background-color:green;*/}
#contentBoxes {height:100%; /*background-color:yellow;*/}
#row-height {height:100%; /*background-color:blue;*/}
.columnResponsive {min-height:100%; /*background-color:orange;*/}


.largeWindow{margin-top:-90px; height:90px; /*background-color:red;*/}
.smallWindow{margin-top:-50px; height:50px; /*background-color:green;*/}


footer {margin-bottom:-50px; height:50px; /*background-color:red;*/}
p {margin:0; padding:0 0 1em 0;}
/*ENDE: dynamische Berechnung des Contentfensters für Höhe der Divs*/

.digitalTwinContentWindow{
    width:100%; 
    height:100%;
    position:absolute; 
    top:0; 
}

.parentDigitalTwinContentWindow{
    /*border:1px solid black; */
    position:relative; 
    top:0; 
    bottom:0;
}

/*TABLE-BORDER*/

.table {
    border-bottom:0px !important;
}
.table th, .table td {
    border: 1px !important;
}
.fixed-table-container {
    border:0px !important;
}